<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IIT Kharagpur</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="#">IIT Kharagpur</a>
         </div>

         <ul class="nav navbar-nav">
            {{#if index_active}}
               <li class="active"><a href="index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            {{else}}
               <li><a href="index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            {{/if}}

            {{#if contact_active}}
               <li class="active"><a href="contact"><span class="glyphicon glyphicon-envelope">Contact</a></li>
            {{else}}
               <li><a href="contact"><span class="glyphicon glyphicon-envelope">Contact</a></li>
            {{/if}}

            <li><a href="#">Members</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Profile</a></li>
         </ul>

         <ul class="nav navbar-nav navbar-right">
             {{#if signup_active}}
                <li class="active"><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
             {{else}}
                <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
             {{/if}}

             {{#if login_active}}
                <li class="active"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
             {{else}}
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
             {{/if}}
         </ul>
        </div>
    </nav>

    {{{body}}}

    <hr>

    <div class="container">
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>